extends layout

block content
	h1 Register
	p Please register using the form below
	form(action="/users/login", method="POST", enctype="multipart/form-data")
		
		.form-group
			label userName
			input.form-control(name="username", type="text", placeholder="enter username")
		.form-group
			label password
			input.form-control(name="password", type="password", placeholder="enter password")
		.form-group
			input.btn.btn-default(name='submit', type='submit', value='login')